<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Info
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="fg" (ngSubmit)="submit()">
                    <div class="form-group">
                        <input nbInput type="email" [value]="connectedUser.Email" placeholder="Email" fullWidth disabled>  
                    </div>
                    <div class="form-group">
                        <input nbInput type="text" placeholder="Last Name" fullWidth formControlName="lastName">  
                    </div>
                    <div class="form-group">
                        <input nbInput type="text" placeholder="First Name" fullWidth formControlName="firstName">  
                    </div>
                    <div class="form-group">
                        <input nbInput [nbDatepicker]="datepicker" placeholder="Birth Date" fullWidth formControlName="birthDate">
                        <nb-datepicker #datepicker></nb-datepicker>
                    </div>
                    <div class="form-group">
                        <button nbButton status="info" outline [disabled]="!fg.valid">Save</button>  
                    </div>
                </form> 
            </nb-card-body>
        </nb-card>
        <div class="mb-4">
            <app-change-email></app-change-email>
        </div>
        <div class="mb-4">
            <app-change-password></app-change-password>
        </div>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>My Pets</nb-card-header>
            <nb-card-body class="row">
                <nb-card *ngFor="let item of pets" class="col-md-6">
                    <nb-card-header>
                        <img class="petThumbnail" [src]="item.imageUrl ? apiUrl + item.imageUrl : '/assets/images/unknown.png'">
                    </nb-card-header>
                    <nb-card-body>
                        {{ item.reference }} - {{ item.breedName }}
                    </nb-card-body>
                    <nb-card-footer>
                        <button status="danger" nbButton (click)="cancel(item)">
                            Cancel
                        </button>
                    </nb-card-footer>
                </nb-card>
            </nb-card-body>
        </nb-card>
    </div>
</div>