<form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="form-group">
        <input nbInput type="text" placeholder="Name" formControlName="name" fullWidth>
    </div>
    <div class="form-group">
        <input nbButton type="submit" status="info" [disabled]="!fg.valid">
    </div>
</form>
