<form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="form-group">
        <input nbInput type="text" placeholder="Name" formControlName="name" fullWidth>
    </div>
    <div class="form-group">
        <nb-select type="text" formControlName="animalName" fullWidth>
            <nb-option></nb-option>
            <nb-option *ngFor="let item of animalService.animal$ | async" 
                       [value]="item.name">{{ item.name }}</nb-option>
        </nb-select>
    </div>
    <div class="form-group">
        <input nbButton type="submit" status="info" [disabled]="!fg.valid">
    </div>
</form>
