<nb-card style="text-align: center">
    <nb-card-header>
        Loading Please Wait ...
    </nb-card-header>
    <nb-card-body style="display: flex;justify-content:center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </nb-card-body>
    <nb-card-body>
        <button nbButton status="danger"
                (click)="cancel()">CANCEL</button>
    </nb-card-body>
</nb-card>