<nb-card>
        <nb-card-header>
            Pet Details
        </nb-card-header>
        <nb-card-body>
            <form (ngSubmit)="submit()" [formGroup]="fg">
                <div class="form-group">
                    <input nbInput type="text" placeholder="Reference" formControlName="reference" fullWidth>
                </div>
                <div class="form-group">
                    <input nbInput [nbDatepicker]="datepicker" placeholder="Birth Date" fullWidth formControlName="birthDate">
                    <nb-datepicker #datepicker></nb-datepicker>
                </div>
                <div class="form-group">
                    <textarea nbInput type="text" placeholder="Description" formControlName="description" fullWidth></textarea>
                </div>
                <div class="form-group">
                    <nb-select placeholder="Animal" type="text" fullWidth (selectedChange)="changeAnimal($event)">
                        <nb-option></nb-option>
                        <nb-option *ngFor="let item of animalService.animal$ | async" 
                                    [value]="item.name">{{ item.name }}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group">
                    <nb-select type="text" placeholder="Breed" formControlName="breedId" fullWidth>
                        <nb-option></nb-option>
                        <nb-option *ngFor="let item of breeds$ | async" 
                                    [value]="item.id">{{ item.name }}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group">
                    <nb-checkbox formControlName="vaccinated">Vaccinated</nb-checkbox>
                </div>
                <div class="form-group">
                    <input nbInput type="file" (change)="fileChangeEvent($event)">
                </div>
                <div class="form-group row">
                        <div class="col-md-6">
                            <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [aspectRatio]="1 / 1"
                                [resizeToWidth]="128"
                                format="png"
                                (imageCropped)="imageCropped($event)"
                            ></image-cropper>
                        </div>
                        <div class="col-md-6">
                            <img *ngIf="croppedImage" [src]="croppedImage" />
                        </div>
                    </div>
                <div class="form-group">
                    <input nbButton type="submit" status="info" [disabled]="!fg.valid">
                </div>
            </form>    
        </nb-card-body>
    </nb-card>