<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Animals</nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <input nbInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" fullWidth>
                </div>
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let row">{{row.name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                        <td mat-cell *matCellDef="let row">
                            <button nbButton status="danger" size="small" (click)="delete(row.name)">
                                <nb-icon icon="trash-outline"></nb-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>  
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>New</nb-card-header>
            <nb-card-body>
                <app-animal-add></app-animal-add>
            </nb-card-body>
        </nb-card>
    </div>
</div>