
<nb-accordion>
    <nb-accordion-item>
        <nb-accordion-item-header>Change Password</nb-accordion-item-header>
        <nb-accordion-item-body>
            <app-work-in-progress></app-work-in-progress>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
