<form [formGroup]="formGroup"
(ngSubmit)="submit()">
    <div class="form-group">
        <input nbInput type="email" placeholder="Email" fullWidth formControlName="email">  
    </div>
    <div class="form-group">
        <input nbInput type="password" placeholder="Password" fullWidth formControlName="password">  
    </div>
    <div class="form-group">
        <button nbButton status="info" outline>Login</button>  
    </div>
</form>
