<nb-card>
    <nb-card-header>{{ animalName }}</nb-card-header>
    <nb-card-body class="row">
        <nb-card style="cursor: pointer;" *ngFor="let item of model" class="col-md-4" [routerLink]="[isAdmin ? '/pet/update' : '/pet/details', item.id]">
            <nb-card-header>
                <img class="petThumbnail" [src]="item.imageUrl ? apiUrl + item.imageUrl : '/assets/images/unknown.png'">
            </nb-card-header>
            <nb-card-body>
                {{ item.reference }} - {{ item.breedName }}
            </nb-card-body>
            <nb-card-footer *ngIf="session.isLogged$ | async">
                <button nbButton (click)="book(item)">
                    Book
                </button>
            </nb-card-footer>
        </nb-card>
    </nb-card-body>
</nb-card>
