<nb-layout>
    <nb-layout-header fixed class="space-between">
        <nb-actions>
            <nb-action icon="menu" (click)="toggle()"></nb-action>
        </nb-actions>
        DEMO Angular - {{ title$ | async }}
        <nb-actions *ngIf="session.isLogged$ | async">
            <nb-action icon="person-outline" [routerLink]="['/profile']"></nb-action>
            <nb-action icon="power-outline" (click)="logout()"></nb-action>
        </nb-actions>
        <nb-actions *ngIf="!(session.isLogged$ | async)">
            <nb-action icon="log-in-outline" [routerLink]="['/auth']"></nb-action>
        </nb-actions>
    </nb-layout-header>
    <nb-sidebar>
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer fixed>
        &copy; 2019 Guillaume OGER
    </nb-layout-footer>
</nb-layout>