<div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
    <nb-icon status="danger" style="font-size: 40px;" icon="alert-triangle-outline"></nb-icon>
    <h2>Work In Progress ...</h2>
</div>
