<nb-card accent="danger">
    <nb-card-header>
        <h4>Delele Confirmation</h4>
    </nb-card-header>
    <nb-card-body>
        Confirm delete this item ( {{item}} )?
    </nb-card-body>
    <nb-card-footer style="display: flex; justify-content: flex-end;">
        <button nbButton (click)="no()">NO</button>
        <button nbButton status="danger" (click)="yes()" class="mx-2">YES</button>
    </nb-card-footer>
</nb-card>