<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Login
            </nb-card-header>
            <nb-card-body>
                <app-login></app-login>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Register
            </nb-card-header>
            <nb-card-body>
                <app-register></app-register>
            </nb-card-body>
        </nb-card>
    </div>
</div>